# git rm -r --cached ( file.txt / Project )
# Ex: git rm -r --cached out/

# Node:
##        git rm: lệnh để xóa một tập tin hoặc thư mục khỏi Git.
##        git rm: lệnh để xóa một tập tin hoặc thư mục khỏi Git.
##        --cached: tùy chọn để giữ lại nội dung của thư mục (hoặc tập tin)
##                  trong thư mục làm việc của bạn, nhưng không giữ lại trong Git.

*.class

*.log

*.ctxt

.mtj.tmp/

out/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/aws.xml

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-*/

.idea/**/mongoSettings.xml

*.iws

# IntelliJ
out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

.idea/sonarlint/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser

.idea/**/sonarlint/

.idea/**/sonarIssues.xml

.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

.idea/$CACHE_FILE$

.idea/codestream.xml

.idea/**/azureSettings.xml